.todo-list-template {
  position: relative;
  background: $color-box-bg;
  width: 512px;
  box-shadow: $box-shadow;
  margin: 0 auto;
  margin-top: 4rem;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  background: $color-bg;
  color: white;
}
.form-wrapper {
  padding: 1rem;
}

.status-wrapper {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $color-border;
}

.todos-wrapper {
  overflow: hidden;

  &.folded {
    height: 0;
  }
}
