.todo-list-template {
  position: relative;
  background: $color-box-bg;
  width: 512px;
  box-shadow: $box-shadow;
  margin: 0 auto;
  margin-top: 4rem;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: $color-bg;
  color: white;
}
.form-wrapper {
  padding: 1rem;
}

.status-wrapper {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $color-border;
}

.todos-wrapper {
  margin-top: 0.5rem;
  min-height: 5rem;
}

// .fold-button {
//   position: absolute;
//   color: grey;
//   font-size: 2rem;
//   left: 246px;
//   top: 234px;
//   cursor: pointer;
// }
