.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15;
  user-select: none;

  .check-circle {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;

    &.done {
      border: 1px solid #9d5edb;
      color: #9d5edb;
    }
  }

  .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: #a3a1a1a4;
    font-weight: 600;
    opacity: 0;
    &:hover {
      color: #ff6b6b;
    }
  }
  &:hover {
    .remove {
      opacity: 1;
    }
  }

  .todo-text {
    flex: 1;
    font-size: 1.125rem;
    color: darken(grey, 15%);
    word-break: break-all;
  }

  .checked {
    text-decoration: line-through;
    color: #adb5bd;
  }
}
