/** 
 * Variables
 */

$color-hover: #ae8fd9;
$color-box-bg: #e7e7e799;
$color-border: #22b8cf;
$high-purple: #ae8fd9;
$low-purple: #a49cd9;
$high-blue-sky: #9aafd9;
$low-blue-sky: #b8c5cd;
$grey: #cfcfcf;

//box
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
