/** 
 * Variables
 */

$color-bg: linear-gradient(135deg, #b98ee0, #7fabcd);
$color-primary: #81aacec4;
$color-hover: #5080d9;
$color-item-hover: #65899c40;
$color-border: #bdbdbd85;
$color-box-bg: #e7e7e799;
$color-input-border: #81aacec4;

//box d
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
